server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/javeats_lites
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
      refresh-token:
        expiration: 604800000 # 7 days
#
#  sql:
#    init:
#      continue-on-error: false
#      mode: always
#      schema-locations: 'classpath:sql/schema-*.sql'
#      separator: '/'


